td {
  position: relative;
}

// CSS based harvey balls based on wenjul's work: https://codepen.io/wenjul/pen/Hphaj
.harvey {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: solid 1px #000;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
}

.harvey.quarters:before {
  content: " ";
  display: block;
  border: solid 1px transparent;
  background: #000;
  width: 8px;
  height: 8px;
}

.harvey.half:before, .harvey.three-quarters:before {
  height: 16px;
}

.harvey.three-quarters:after {
  content: " ";
  display: block;
  border: solid 1px transparent;
  background-color: #000;
  margin-top: -9px;
  width: 16px;
  height: 8px;
}

.harvey.quarters.full:before {
  height: 16px;
  width: 16px;
}
